i.demo-icon-email {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg fill='#fff' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}
.listaFavs, .list-block-search .item-inner {
    font-size: small;
}
li.a{
    width: 100%;
}
.pieItem {
    font-size: small;
    color: cornflowerblue;
}
.sombra{
    box-shadow: -1px 1px 5px #888888;
}
#itemsLength {
    margin-right: 20px;
    font-size: small;
    background:palevioletred;
}
.item-inner.paddingLeft {
    padding-left: 8px;
}
.padTop0{
    padding-top: 1px !important;
    }
.margLista {
    margin-top: 0;
    margin-bottom: 152px;
}
.padLeft5 {
    padding-left: 5px !important;
}
.minWith0 {
    min-width: 0 !important;
}
.margLeft8 {
    margin-left: 8px !important;
}
#detailContent > div {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: small
}
.width44 {
    width: 44px;
}
.margRight30 {
    margin-right: 33px !important;
}
.detailPageContent {
    padding-top: 50px;
    font-size: small;
}
.subtitulos {
    text-align:center !important;
    padding: 5px;
}
.padBot50 {
    padding-bottom: 30px;
}
.bg-grey {
    background: rgba(0, 0, 0, 0.04);
}

.avisoFavs {
    text-align: center;
    font-size: 12px;
    color: gray;
    padding-top: 5px;
    padding-bottom: 7px;
}
.verticalMid{
    vertical-align: middle;
}
.marg15{
    margin:2.5%;
}
.swipeout-actions-right {
    font-size: small;
}

.lnk.active-state {
    background: lightgray;
    padding:15px;
}
.modal-buttons .button.active-state{
    background: lightgray;
}
/*.button.button-fill.active-state{
    color:orange;
    border: solid  gray;
    !*-webkit-box-shadow: -1px  1px 1px gray;*!
    !*-moz-box-shadow: -1px 1px 1px gray;*!
    !*box-shadow: -1px 1px 1px gray;;*!
}*/

.border-right {
    border-right: 1px solid lightgray;
}


@media (min-width: 720px) {
    .responsive {
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        width: 80%;
        margin: 32px auto;
    }
}

.centered {
    text-align: center;
}
/* ANIMATIONS
============================================================================= */

/* scaleUpDown */
.pt-page-scaleUpDown {
    -webkit-animation: scaleUpDown .5s ease both;
    animation: scaleUpDown .5s ease both;
}

@-webkit-keyframes scaleUpDown {
    from { opacity: 0; -webkit-transform: scale(1.2); }
}
@keyframes scaleUpDown {
    from { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2); }
}
/* fade */
.pt-page-fade {
    -webkit-animation: fade .7s ease both;
    animation: fade .7s ease both;
}
@-webkit-keyframes fade {
    from {opacity: 0.3; }
    to { opacity: 1 }
}
@keyframes fade {
    from {opacity: 0.3; }
    to { opacity: 1 }
}
/* move from left */
.pt-page-moveFromLeft {
    -webkit-animation: moveFromLeft .6s ease both;
    animation: moveFromLeft .6s ease both;
}
@-webkit-keyframes moveFromLeft {
    from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
    from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}
/* move from right */
.pt-page-moveFromRight {
    -webkit-animation: moveFromRight .6s ease both;
    animation: moveFromRight .6s ease both;
}
@-webkit-keyframes moveFromRight {
    from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
    from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}
/* scale-up */
.pt-page-scaleUp {
    -webkit-animation: scaleUp .7s ease both;
    animation: scaleUp .7s ease both;
}
@-webkit-keyframes scaleUp {
    from { opacity: 0; -webkit-transform: scale(.8); }
}
@keyframes scaleUp {
    from { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}
/*
.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.1s;
    -moz-animation-duration:0.1s;
    animation-duration:0.1s;
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
*/