<style>
  .btn-width{
    width:80%;
    margin:auto;
  }
</style>
<div class="login-screen">
  <!-- Default view-page layout -->
  <div class="view">
    <div class="page">
      <!-- page-content has additional login-screen content -->
      <div class="page-content login-screen-content">
        <div class="login-screen-title"><i class="icon ion-social-angular-outline"></i> My App</div>
        <!-- Login form -->
        <form>
          <div class="list-block">
            <ul>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title floating-label">Username</div>
                  <div class="item-input">
                    <input type="text" name="username" placeholder="Username">
                  </div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title floating-label">Password</div>
                  <div class="item-input">
                    <input type="password" name="password" placeholder="Password">
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="list-block">
            <ul>
              <li class="centered">
                <a ng-href="#/" class="button button-fill button-raised close-login-screen btn-width">Log In</a></li>
            </ul>
            <div class="list-block-label centered">Some text with login information.</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>