<style>
  .btn-width{
    width:200px;
    margin:auto;
  }

  .pad-top-80 {
    padding-top: 70px;
  }

  .width-350 {
    width: 280px;
  }
</style>
<div class="login-screen">
  <div class="view">
    <div class="page">
      <div class="page-content login-screen-content">
        <div class="login-screen-title pad-top-80"><i class="icon ion-social-angular-outline"></i> My App</div>
        <form>
          <div class="list-block width-350">
            <ul>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title floating-label">Username</div>
                  <div class="item-input">
                    <input type="text" name="username" placeholder="Username">
                  </div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title floating-label">Password</div>
                  <div class="item-input">
                    <input type="password" name="password" placeholder="Password">
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="content-block pad-top-80">
            <div class="centered">
              <a ng-href="#/" class="button button-fill button-raised close-login-screen btn-width">
                <i class="icon ion-log-in"></i> Log In
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>