<style>
  .swiper-pagination.color-white .swiper-pagination-bullet-active,
  .theme-white .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ffffff;
  }
  .swiper-pagination.color-white .swiper-pagination-progressbar,
  .theme-white .swiper-pagination .swiper-pagination-progressbar {
    background-color: #ffffff;
  }
  .swiper-pagination.swiper-pagination-progress.bg-white {
    background-color: rgba(255, 255, 255, 0.25);
  }
  .swiper-button-next.color-white,
  .swiper-container-rtl .swiper-button-prev.color-white,
  .theme-white .swiper-button-next,
  .theme-white .swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  }
  .swiper-button-prev.color-white,
  .swiper-container-rtl .swiper-button-next.color-white,
  .theme-white .swiper-button-prev,
  .theme-white .swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  }
  .ks-parallax-slider {
    height: 100%;
  }
  .ks-parallax-slider .swiper-parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }
  .ks-parallax-slider .swiper-slide {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
    color: #fff;
  }
  .ks-parallax-slider .swiper-slide-title {
    font-size: 41px;
    font-weight: 300;
  }
  .ks-parallax-slider .swiper-slide-subtitle {
    font-size: 21px;
  }
  .ks-parallax-slider .swiper-slide-text {
    font-size: 14px;
    /*max-width: 400px;*/
    line-height: 1.3;
  }
  .pad-top {
    padding-top: 55px !important;
  }

</style>
<div data-page="swiper-horizontal" class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"><a href="#/" class="link icon-only"><i class="icon icon-back"></i></a></div>
      <div class="center">Swiper Slider</div>
    </div>
  </div>
  <div class="page-content pad-top pt-page-scaleUpDown">
    <div data-pagination=".swiper-pagination" data-parallax="true" data-nextButton=".swiper-button-next"
         data-prevButton=".swiper-button-prev" data-speed="600" class="swiper-container ks-parallax-slider">
      <div data-swiper-parallax="-23%" style="background-image:url(app/img/15.jpg)" class="swiper-parallax-bg"></div>
      <div class="swiper-pagination color-white"></div>
      <div class="swiper-button-next color-white"></div>
      <div class="swiper-button-prev color-white"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div data-swiper-parallax="-100" class="swiper-slide-title">Slide 1</div>
          <div data-swiper-parallax="-200" class="swiper-slide-subtitle">Subtitle</div>
          <div data-swiper-parallax="-300" class="swiper-slide-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo. Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis rutrum. Ut at ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut libero. Aenean feugiat non eros quis feugiat.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div data-swiper-parallax="-100" class="swiper-slide-title">Slide 2</div>
          <div data-swiper-parallax="-200" class="swiper-slide-subtitle">Subtitle</div>
          <div data-swiper-parallax="-300" class="swiper-slide-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo. Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis rutrum. Ut at ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut libero. Aenean feugiat non eros quis feugiat.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div data-swiper-parallax="-100" class="swiper-slide-title">Slide 3</div>
          <div data-swiper-parallax="-200" class="swiper-slide-subtitle">Subtitle</div>
          <div data-swiper-parallax="-300" class="swiper-slide-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo. Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis rutrum. Ut at ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut libero. Aenean feugiat non eros quis feugiat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
