<style type="text/css">
  .iconoShare {
    font-size: 38px;
    float: left;
  }
  .anchoBtn {
    width: 100%;
  }

  .width-popover {
    width: 280px;
  }

  .pad-20 {
    padding: 20px;
  }
  .cornflowerblue{
    background: #6495ed !important;
  }
  .deeppink{
    background: deeppink !important;
  }

  .indigo {
    background: indigo !important;
  }

  .purple {
    background: purple !important;
  }

  .deepskyblue {
    background: deepskyblue !important;
  }

  .fnt-size-32 {
    font-size: 32px;
  }

  .title {
    text-align: center;
  }
</style>

<div id="popover-share" class="popover width-popover">
  <div class="popover-inner">

    <div class="list-block pad-20">

      <div class="title">Compartir</div>

      <p class="buttons-row anchoBtn">
        <a href="http://twitter.com/share?url={{ $ctrl.url|encodeString }}&text={{ $ctrl.msgShare|encodeString }}"
           class="external button button-fill cornflowerblue" target="_blank">
          <i class="fa fa-twitter-square iconoShare"></i>Twitter</a>
      </p>
      <p class="buttons-row anchoBtn">
        <a href="https://plus.google.com/share?url={{ $ctrl.url }}"
           class="external button button-fill deeppink" target="_blank">
          <i class="fa fa-google-plus-square iconoShare"></i>Google +</a>
      </p>
      <p class="buttons-row anchoBtn">
        <a href="http://www.facebook.com/sharer/sharer.php?u={{ $ctrl.url|encodeString }}"
           class="external button button-fill indigo" target="_blank">
          <i class="fa fa-facebook-square iconoShare"></i>Facebook</a>
      </p>
      <p class="buttons-row anchoBtn">
        <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ $ctrl.url }}&title={{ $ctrl.msgShare|encodeString }}&source={{ appName|encodeString }}"
           class="external button button-fill purple" target="_blank">
          <i class="fa fa-linkedin-square iconoShare"></i>LinkedIn</a>
      </p>
      <p class="buttons-row anchoBtn">
        <a href="mailto:?subject=Enlace_compartido&body={{ $ctrl.msgShare + $ctrl.url|encodeString }}"
           class="external button button-fill deepskyblue" target="_blank">
          <i class="fa fa-envelope iconoShare fnt-size-32"></i>Email</a>
      </p>

      <div>
        <a href="#" class="button close-popover" data-popover="#popover-share">Cerrar</a>
      </div>

    </div>
  </div>
</div>

