<style>
  .bg-card {
    background: url('img/1.jpg');
    height: 100px;
    color: white;
    background-size: cover;
  }
  @media (min-width: 720px) {
    .responsive-container {
      background: #fff;
      /*border-radius: 3px;*/
      /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
      width: 80%;
      margin: 32px auto;
    }
  }
  /*
    .ks-card-header-pic .card-header {
      height: 25vw;
      background-size: cover;
      background-position: center;
    }
    .card-link.active-state {
      background-color: lightgray;
      display:block;
      box-shadow: 0 5px lightgray;
    }
  */
</style>

<div class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"><a ng-href="#/" class="link icon-only"><i class="icon icon-back"></i></a></div>
      <div class="center">Grid</div>
    </div>
  </div>
  <div class="page-content pt-page-moveFromRight">
    <div class="ks-grid responsive-container">
      <div class="content-block-title">Responsive Grid</div>
      <div class="content-block">
        <p>Framework7 comes with flexible layout grid:</p>
        <p>Grid cells have different size on Phone/Tablet</p>
      </div>
      <div class="content-block" style="padding: 0">
        <div class="row no-gutter">
          <div class="col-100 tablet-50">
            <div class="card">
              <div class="card-content">
                <div class="card-content-inner bg-card">Card content</div>
              </div>
              <div class="card-footer">Footer</div>
            </div>
          </div>
          <div class="col-100 tablet-50">
            <div class="card">
              <div class="card-content">
                <div class="card-content-inner bg-card">Card content</div>
              </div>
              <div class="card-footer">Footer</div>
            </div>
          </div>
        </div>
        <div class="row no-gutter">
          <div class="col-50 tablet-25">
            <div class="card">
              <div class="card-content">
                <div class="card-content-inner bg-card">Card content</div>
              </div>
              <div class="card-footer">Footer</div>
            </div>
          </div>
          <div class="col-50 tablet-25">
            <div class="card">
              <div class="card-content">
                <div class="card-content-inner bg-card">Card content</div>
              </div>
              <div class="card-footer">Footer</div>
            </div>
          </div>
          <div class="col-50 tablet-25">
            <div class="card">
              <div class="card-content">
                <div class="card-content-inner bg-card">Card content</div>
              </div>
              <div class="card-footer">Footer</div>
            </div>
          </div>
          <div class="col-50 tablet-25">
            <div class="card">
              <div class="card-content">
                <div class="card-content-inner bg-card">Card content</div>
              </div>
              <div class="card-footer">Footer</div>
            </div>
          </div>
        </div>
        <div class="row no-gutter">
          <div class="col-33 tablet-33">
            <div class="card">
              <div class="card-content">
                <div class="card-content-inner bg-card">Card content</div>
              </div>
              <div class="card-footer">Footer</div>
            </div>
          </div>
          <div class="col-33 tablet-33">
            <div class="card">
              <div class="card-content">
                <div class="card-content-inner bg-card">Card content</div>
              </div>
              <div class="card-footer">Footer</div>
            </div>
          </div>
          <div class="col-33 tablet-33">
            <div class="card">
              <div class="card-content">
                <div class="card-content-inner bg-card">Card content</div>
              </div>
              <div class="card-footer">Footer</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>