<style type="text/css">
  .fnt-size-25 {
    font-size: 25px;
  }

  .underline {
    text-decoration: underline;
  }
</style>
<div class="popup popup-detalle tablet-fullscreen">
  <div data-page="detalle" class="page">
    <!-- nav bar =================================================================================================== -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left width44">
          <a href="#" class="link close-popup"><i class="icon icon-close"></i></a>
        </div>
        <div class="center">Details</div>
        <div class="right">
          <a href="#" class="link"><i class="icon ion-clipboard fnt-size-25"></i></a>
        </div>
      </div>
    </div>
    <!-- /nav bar ================================================================================================== -->

    <f7-speed-dial></f7-speed-dial>

    <!-- contenido detalle ========================================================================================= -->
    <div id="detalleContent" class="page-content hide-navbar-on-scroll detailPageContent">
      <div class="content-block">
        <b class="underline">TITLE:</b>
        <p>Details content</p>
      </div>
    </div>
    <!-- /contenido detalle ======================================================================================== -->
  </div>
</div>
