<style type="text/css">
  .bckgrnd-blue {
    background: darkblue;
  }

  .fnt-size-18 {
    font-size: 18px;
  }
</style>
<div class="speed-dial">
  <a href="#" class="floating-button bckgrnd-blue">
    <i class="icon icon-plus"></i><i class="icon icon-close"></i>
  </a>
  <div class="speed-dial-buttons">
    <a href="#" class="open-popover" data-popover="#popover-share">
      <i class="fa fa-share-alt-square fnt-size-18"></i>
    </a>
    <a href="http://www.google.com" class="external" target="_blank">Item2</a>
    <a href="http://www.google.com" class="external" target="_blank">Item1</a>
  </div>
</div>