<style>
  .ico {
    padding-right: 5px;
    font-size: 20px;
  }
  .bg-white{
    background:white;
  }
  .list-title {
    background: lightgrey !important;
    color: white !important;
  }
</style>

<div class="list-block responsive bg-white">
  <ul>
    <li class="item-divider list-title"><strong>F7 LIST:</strong> Drag to the left for options</li>
    <li ng-repeat="item in $ctrl.list" class="swipeout">
      <div class="swipeout-content">
        <a href="#" class="item-content item-link" ng-click="$ctrl.dialog(item.ciudad, item.temperatura)">
          <div class="item-inner">
            <div class="item-title">
              <div class="city">{{ item.ciudad }}</div>
              <div class="country">{{ item.pais }}</div>
            </div>
            <div class="item-after">{{ item.temperatura }}°</div>
          </div>
        </a>
      </div>
      <div class="swipeout-actions-right">
        <a href="#" class="swipeout-delete"><i class="icon ion-close-circled ico"></i>Borrar</a>
      </div>
    </li>
  </ul>
</div>
